@theme {
  --color-current: currentColor;

  --color-dark-50: #c9c9c9;
  --color-dark-100: #b8b8b8;
  --color-dark-200: #828282;
  --color-dark-300: #696969;
  --color-dark-400: #424242;
  --color-dark-500: #3b3b3b;
  --color-dark-600: #2e2e2e;
  --color-dark-700: #242424;
  --color-dark-800: #1f1f1f;
  --color-dark-900: #141414;

  --color-primary-50: #e1faff;
  --color-primary-100: #cdf0ff;
  --color-primary-200: #9fdefa;
  --color-primary-300: #6dccf6;
  --color-primary-400: #46bcf3;
  --color-primary-500: #2cb2f1;
  --color-primary-600: #17adf1;
  --color-primary-700: #0098d7;
  --color-primary-800: #0087c2;
  --color-primary-900: #0075ac;

  --color-secondary: var(--color-zinc-400);
  --color-negative: var(--color-red-400);
  --color-warn: var(--color-amber-400);
  --color-positive: var(--color-emerald-400);
  --color-retry: var(--color-yellow-200);
  --color-disabled: var(--color-zinc-400);

  --color-light: var(--color-zinc-50);
  --color-dark: var(--color-neutral-950);
  --color-dimmed: #828282;

  --color-sidebar-body: var(--color-neutral-900);
  --color-sidebar-border: var(--color-neutral-800);
}

@utility bg-gradient-light {
  background-image: linear-gradient(45deg, var(--color-primary-50), var(--color-slate-50));
}

@utility bg-gradient-dark {
  background-image: linear-gradient(45deg, var(--color-slate-950), var(--color-slate-900), var(--color-slate-800));
}
